<mat-toolbar color="primary">
  <!-- <a color="accent" [routerLink]="[ '/dashboard']"><mat-icon>keyboard_backspace</mat-icon></a> -->
  <button mat-icon-button aria-label="button with a back icon" [routerLink]="[ '/dashboard']" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-form-field>
    <!-- <mat-label>Favorite food</mat-label> -->
    <mat-select [(value)]= selected (selectionChange)="onSelectChange()">
      <mat-option *ngFor="let item of select" [value]="item.value" >
        {{item.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="container-fluid">
  <app-add-income *ngIf="!screenToggler"></app-add-income>
  <app-add-expense *ngIf="screenToggler"></app-add-expense>
</div>
