<div class="container-fluid">
  <div class="app-container">
    <div class="jumbotron">
      <!-- <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="signed-in">
          <label class="form-check-label" for="signed-in">Stay signed in</label>
        </div>
        <button type="Login" class="btn btn-primary" routerLink="/dashboard">Submit</button>
      </form>
    </div>
  </div>
</div>