.expense-card {
  margin-top: 2vh;

  .expense-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
    .header-left-child {
      display: flex;
      flex-direction: row;

      .mat-card-subtitle {
        margin-top: 0;
        padding-left: 1vw;
      }
    } 
  }

  hr {
    margin-top: 0;
  }
  .mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .expense-text {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        padding-left: 1.5vw;
      }

      .card-expense-icon {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    }  
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:5vh;
	right:5vw;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  
  .mat-icon{
    margin-top: 17px !important;
  }
}
