.expense-card {
  margin-top: 2vh;

  .expense-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
    .header-left-child {
      display: flex;
      flex-direction: row;

      .mat-card-subtitle {
        margin-top: 0;
        padding-left: 1vw;
      }
    } 
  }

  hr {
    margin-top: 0;
  }
}