<mat-card class="expense-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <div class="expense-card-header">
      <div>
        <mat-card-subtitle>Today's Date</mat-card-subtitle>
      </div>
      <div class="header-left-child">
        <mat-card-subtitle>Expense: 0</mat-card-subtitle>
        <mat-card-subtitle>Gains: 0</mat-card-subtitle>
      </div>
      
    </div>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class="expense-text">
      <div mat-card-avatar class="card-expense-icon"></div>
      <span>Expense name</span>
    </div>
    <div class="expense-amount">
      Amount
    </div>
  </mat-card-content>
</mat-card>

<a href="#" class="float">
  <mat-icon>add</mat-icon>
</a>
