.mat-sidenav-container {
  height: 100vh;

  .mat-sidenav {
    width: 25vw;
    
    .container {
      margin-top: 5vh;
      padding: 0;

      button {
        padding: 0 !important;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 1vw;
          
          span {
            padding-left: 1vw;
          }
        }
      }

      .mat-stroked-button {
        width: 100%;
        padding: 4px 0 !important;
        text-align: left;
      }
    }
  }
}

// responsive
@media(max-width: 786px) {
  .mat-sidenav {
    width: 60vw !important;
  }

  button {
    span {
      padding-left: 2vw;
      span {
        padding-left: 4vw !important;
      }
    }
  }
}