.mat-sidenav-container {
  height: 100vh;

  .mat-sidenav {
    width: 25vw;
    
    .container {
      margin-top: 5vh;
      padding: 0;

      button {
        padding: 0 !important;
      }

      .mat-button {
        width: 100%;
        padding: 4px 0 !important;
      }
    }
  }
}

// responsive
@media(max-width: 786px) {
  .mat-sidenav {
    width: 60vw !important;
  }
}