<!-- <mat-toolbar color="primary"></mat-toolbar> -->

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="over"> 

  </mat-sidenav>
  
  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>
</mat-sidenav-container> -->

<mat-sidenav-container >
  <mat-sidenav #sidenav mode="over">
    <div class="container">
      <div class="row no-gutters">
        <div class="col">
          <button mat-stroked-button color="accent"><span><mat-icon>menu</mat-icon><span>Hey</span></span></button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="nav-brand">Application Title</span>
    </mat-toolbar>
    <div class="container-fluid">
      <app-dashboard-summary></app-dashboard-summary>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
