.mat-sidenav-container {
  height: 100vh;

  .mat-sidenav {
    width: 25vw;
    // background: gray;
  }
}

// responsive
@media(max-width: 786px) {
  .mat-sidenav {
    width: 60vw !important;
  }
}